<section class="entrata">
    <div id="accountlog">
      <a href="indexnetflix.html" class="close">x</a>
      <h2>Lasciaci i tuoi contatti</h2>

      <form action="paginaLogin.jsp" method="post" id="commentForm">
        <ul>
          <li>
            <label for="text">Nome</label>
            <input type="text" id="nome" />
            <span></span>
          </li>
          <li>
            <label for="email">Email</label>
            <input type="text" id="e-mail" />
            <span></span>
          </li>
          <li>
            <label for="phone">Inserisci il tuo numero di cellulare:</label>
            <input type="tel" id="phone" name="phone">
            <span></span>
          </li>
          <li>
            <label for="textarea">Inserisci qui un commento</label>
            <input type="textarea" id="textarea" rows="35" cols="43">
            <span></span>
          </li>
          <li>
            <label type="checkbox">Ho Preso visione del regolamento</label>
            <input type="checkbox" id="check" />
          </li>
          <li>
            <button>Invia</button>
          </li>
        </ul>
      </form>
    </div>
  </section>
